* {
    outline: none;
    margin: 0;
    padding: 0;
}

body {
    width: 1280px;
    height: 720px;
    font-family: Microsoft YaHei;
}

.pageBody {
    width: 1280px;
    height: 720px;
    overflow: hidden;
    position: relative;
}

ul {
    list-style: none;
}

.txzc {
    position: absolute;
    bottom: 50px;
    right: 100px;
}

#panoCon {
    width: 100%;
    height: 100%;
}

/*街景详情样式，如房源详情*/
#album {
    width: 1390px;
    position: absolute;
    bottom: 0;
    left: -1280px;
    height: 245px;
    transition: left 2s;
    z-index: 2;
}

#albumCon {
    float: left;
    width: 1280px;
    overflow: hidden;
    height: 245px;
    padding: 30px 65px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.8);
}

#albumNotice {
    float: right;
    width: 110px;
    font-size: 20px;
    color: #FFFFFF;
    text-align: left;
    word-break: break-all;
}

#albumNotice div {
    width: 55px;
    height: 152px;
    background-color: rgba(0, 0, 0, 0.73);
    float: left;
    margin-top: 19px;
}

#albumNotice img {
    float: left;
    top: -35px;
    position: relative;
}

#albumTitleBody li {
    cursor: pointer;
    float: left;
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0 6px 0 0;
    font-size: 16px;
}

#albumViewBody .cur {
    border: 2px solid #97DCFF;
    box-shadow: 0 0 15px #97DCFF;
}

.select {
    background-color: #148fff;
}

#albumViewBody {
    margin-left: 0;
    height: 120px;
    z-index: 1;
    width: 100%;
    overflow: hidden;
}

.PanoPhotoTitle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 186px;
    height: 21px;
    /*font-family: Arial;*/
    text-align: center;
    font-size: 9px;
    color: #FFFFFF;
    line-height: 21px;
}

.PanoPhotoCell {
    position: relative;
    float: left;
    width: 186px;
    height: 115px;
    margin-right: 20px;
    border: 2px solid transparent;
}

.PanoPhotoCell img {
    width: 186px;
    height: 115px;
    display: block;
    cursor: pointer;
    box-sizing: border-box;
}

.PanoPhotoCell .PanoPhotoTitle {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#albumTitleBody {
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    width: 1150px;
    overflow: hidden;
    color: #FFFFFF;
}

#albumTitleBody li:focus {
    background-color: #f2ae2a;
}

#albumViewBody div.PanoPhotoCell:focus {
    border: 2px solid #f2ae2a;
    box-shadow: 0 0 15px #f2ae2a;
}

.viewDetailIcon {
    width: 100%;
    height: 74px;
    background: url("images/detailIcon.png") center center no-repeat;
    display: none;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    transition: 2s;
    left: -1280px;
}

#albumTitle_wrapper {
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    height: 25px;
}

#viewBody_wrapper {
    position: relative;
    top: 5px;
    left: 0;
    overflow: hidden;
    height: 120px;
    z-index: 1;
    width: 100%;
}



/*提示信息*/
#hintContainer {
    position: absolute;
    background: rgba(0, 0, 0, .5);
    border-radius: 5px;
    border: 2px rgb(129, 129, 129) solid;
    box-shadow: 5px 5px 10px #000;
    height: 40px;
    box-sizing: border-box;
    top: 30px;
    left: 50px;
    font-size: 0;
}

#zoomHint {
    background: url('images/zoomHint.png');
    width: 140px;
    height: 39px;
}

#pitchHint {
    background: url('images/pitchHint.png');
    width: 140px;
    height: 39px;
}

#detailHint {
    background: url('images/detailHint.png');
    width: 70px;
    height: 39px;
}

.hint {
    display: inline-block;
}

.view #detailHint, .search #detailHint, .mapHint #pitchHint {
    display: none;
}

audio {
    display: none;
}

.viewQrCodeContainer {
    width: 170px;
    height: 165px;
    position: absolute;
    right: 0;
    top: 60px;
    display: none;
    z-index: 99;
}

#viewQrCodeContainer {
    box-sizing: border-box;
    padding: 15px 50px 15px 10px;
    background: rgba(0, 0, 0, .7);
}

.viewQrCodeText {
    color: white;
    font-size: 14px;
    text-align: center;
}

/*详细信息*/
#viewDetail {
    position: absolute;
    padding: 70px 90px;
    width: 1100px;
    height: 580px;
    background-color: rgba(0, 0, 0, 0.9);
    top: 0;
    left: 1280px;
    transition: all 1s;
    z-index: 3;
    overflow: hidden;

}

#viewDetail .title img {
    width: 300px;
    height: 150px;
    float: left;
}

#viewDetail .title div {
    width: 720px;
    float: left;
    height: 150px;
    line-height: 150px;
    font-size: 26px;
    margin-left: 40px;
    color: #FFFFFF;
    overflow: hidden;
}

#viewDetail .content {
    height: 270px;
    line-height: 30px;
    letter-spacing: 1px;
    font-size: 20px;
    text-indent: 4ex;
    color: #DADADA;
    margin: 20px 0 10px 0;
    float: left;
    width: 1100px;
    overflow: hidden;
}

.viewDetailMenu {
    width: 560px;
    height: 130px;
    margin: 0 auto;
}

.viewDetailMenu img {
    width: 260px;
    height: 130px;
}

.viewDetailMenu li {
    width: 260px;
    height: 130px;
    float: left;
    margin: 0 10px;
    overflow: hidden;
}

/*详细信息-位置地图*/
#positionMap {
    width: 1280px;
    height: 720px;
    position: absolute;
    top: 0;
    left: 1280px;
    transition: all 1s;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.9);
}

/*详细信息-导航*/
#navMap {
    width: 1140px;
    height: 580px;
    position: absolute;
    top: 0;
    left: 1280px;
    transition: all 1s;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 70px;
}

.navMap {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}

.navMap #navMenuList {
    float: left;
    height: 380px;
    width: 110px;
    text-align: center;
    background-color: #EEEEEE;
    padding: 100px 0;
}

.navMap #navMenuList li {
    height: 190px;
    text-align: center;
    line-height: 210px;
}

.navMap .navMapContent {
    width: 1030px;
    height: 580px;
    overflow: hidden;
}

.navMap .navMapContent .position {
    float: left;
    width: 1030px;
    border-bottom: 1px solid #D2D2D2;
    font-size: 24px;
}

.navMap .navMapContent .position li {
    width: 455px;
    height: 69px;
    line-height: 69px;
    padding-left: 40px;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.navMap .navMapContent .position li span {
    color: #7d7d7d;
}

.navMap .navMapContent .route {
    float: left;
    width: 500px;
    height: 442px;
    margin: 0 10px 8px 40px;
    overflow: hidden;
    border: 2px solid transparent;
    position: relative;
    top: 5px;
    left: 0;
    z-index: 1;
}

.navMap .navMapContent .route:focus {
    border: 2px solid #00A0E9;
}

.navMap .navMapContent .title {
    float: left;
    width: 500px;
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    margin: 6px 10px 0 30px;
}

.navMap .navMapContent .route ul {
    overflow: hidden;
}

.navMap .navMapContent .route li {
    font-size: 18px;
    color: #535353;
    line-height: 34px;
    letter-spacing: 1px;
    /*margin-top: 10px;*/
}

.navMap .navMapContent .map {
    float: left;
    width: 400px;
    height: 260px;
    margin: 50px 23px;
    border: 2px solid transparent;
}

.navMap .navMapContent .map:focus {
    border: 2px solid #00A0E9;
}

.navMap .navMapContent .mapFocus {
    position: absolute !important;
    left: 0;
    top: 0;
    width: 1280px;
    height: 720px;
    z-index: 5;
}

.scroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}

#exit {
    position: absolute;
    top: 20px;
    right: 0;
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: left;
    letter-spacing: 4px;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    font-family: "微软雅黑";
    font-size: 24px;
    border-radius: 5px;
    z-index: 999;
    display: none;

}