* {
    outline: none;
    margin: 0;
    padding: 0;
}

body {
    width: 1280px;
    height: 720px;
    font-family: Microsoft YaHei;
}

.pageBody {
    width: 1280px;
    height: 720px;
    overflow: hidden;
    position: relative;
}

ul, li {
    list-style: none;
}

#container {
    width: 100%;
    height: 100%;

}

/*街景样式*/
#panoCon {
    width: 100%;
    height: 100%;
    display: none;
}

/*街景详情样式，如房源详情*/
#album {
    width: 1390px;
    position: absolute;
    bottom: 0;
    left: -1280px;
    height: 245px;
    transition: left 2s;
    z-index: 2;
    display: none;
}

#albumCon {
    float: left;
    width: 1280px;
    overflow: hidden;
    height: 245px;
    padding: 30px 65px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.8);
}

#albumNotice {
    float: right;
    width: 110px;
    font-size: 20px;
    color: #FFFFFF;
    text-align: left;
    word-break: break-all;
}

#albumNotice div {
    width: 55px;
    height: 152px;
    background-color: rgba(0, 0, 0, 0.73);
    float: left;
    margin-top: 19px;
}

#albumNotice img {
    float: left;
    top: -35px;
    position: relative;
}

#albumTitleBody li {
    cursor: pointer;
    float: left;
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0 6px 0 0;
    font-size: 16px;
}

#albumViewBody .cur {
    border: 2px solid #97DCFF;
    box-shadow: 0 0 15px #97DCFF;
}

.select {
    background-color: #148fff;
}

#albumViewBody {
    margin-left: 0;
    height: 120px;
    z-index: 1;
    width: 100%;
    overflow: hidden;
}

.PanoPhotoTitle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 186px;
    height: 21px;
    /*font-family: Arial;*/
    text-align: center;
    font-size: 9px;
    color: #FFFFFF;
    line-height: 21px;
}

.PanoPhotoCell {
    position: relative;
    float: left;
    width: 186px;
    height: 115px;
    margin-right: 20px;
    border: 2px solid transparent;
}

.PanoPhotoCell img {
    width: 186px;
    height: 115px;
    display: block;
    cursor: pointer;
    box-sizing: border-box;
}

.PanoPhotoCell .PanoPhotoTitle {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#albumTitleBody {
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    width: 1150px;
    overflow: hidden;
    color: #FFFFFF;
}

#albumTitleBody li:focus {
    background-color: #f2ae2a;
}

#albumViewBody div.PanoPhotoCell:focus {
    border: 2px solid #f2ae2a;
    box-shadow: 0 0 15px #f2ae2a;
}

#albumTitle_wrapper {
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    height: 25px;
}

#viewBody_wrapper {
    position: relative;
    top: 5px;
    left: 0;
    overflow: hidden;
    height: 120px;
    z-index: 1;
    width: 100%;
}

/*搜索样式*/
.search {
    width: 1280px;
    height: 148px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    transition: all 1s;
}

.sLogo {
    margin-top: 42px;
    margin-left: 70px;
    float: left;
}

.sInput {
    background-color: #FFFFFF;
    border: 3px solid #00a0e9;
    height: 56px;
    line-height: 56px;
    margin-top: 42px;
    margin-left: 100px;
    width: 370px;
    outline: none;
    float: left;
}

.sInput:focus {
    box-shadow: 0 0 20px #00a0e9;
}

.sMag {
    width: 46px;
    height: 44px;
    margin: 6px 10px;
    float: left;
}

.sText {
    border: none;
    float: left;
    font-size: 24px;
    margin-left: 10px;
    height: 54px;
    line-height: 54px;
    width: 280px;
}

.sDel {
    width: 55px;
    height: 30px;
    float: left;
    margin-left: 30px;
    margin-top: 60px;
    background: url("images/del_0.png") 0 no-repeat;
    outline: none;
}

.sDel:focus {
    background: url("images/del_1.png");
}

.ssBut {
    width: 155px;
    height: 69px;
    float: left;
    position: relative;
    margin-left: 15px;
    top: 39px;
    background: url("images/ssBut_0.png") 0 no-repeat;
    outline: none;
}

.ssBut:focus {
    background: url("images/ssBut_1.png");
}

.srBut {
    width: 155px;
    height: 69px;
    float: left;
    position: relative;
    margin-left: 15px;
    top: 39px;
    background: url("images/srBut_0.png") 0 no-repeat;
    outline: none;
}

.srBut:focus {
    background: url("images/srBut_1.png");
}

.shBut {
    width: 175px;
    height: 69px;
    float: left;
    position: relative;
    margin-left: 15px;
    top: 39px;
    background: url("images/shBut_0.png") 0 no-repeat;
    outline: none;
}

.shBut:focus {
    background: url("images/shBut_1.png");
}

.zfBut {
    width: 155px;
    height: 69px;
    float: left;
    position: relative;
    margin-left: 15px;
    top: 39px;
    background: url("images/zfBut_0.png") 0 no-repeat;
    outline: none;
}

.zfBut:focus {
    background: url("images/zfBut_1.png");
}

/*搜索结果*/
#resultContainer {
    position: absolute;
    top: 720px;
    left: 0;
    width: 1280px;
    height: 572px;
    overflow: hidden;
    z-index: 10;
    background: rgba(0, 0, 0, 0.7);
    transition: all 2s;
}

#searchList {
    font-size: 28px;
    color: white;
}

#searchList li {
    width: 100%;
    height: 100px;
    line-height: 100px;
    display: block;
    overflow: hidden;
    text-align: center;
}

#searchList li button {
    background: transparent;
    color: white;
    font-family: Microsoft YaHei;
    padding: 0;
    width: auto;
    font-size: 35px;
    height: 100px;
    line-height: 100px;
    margin: 0 auto;
    border: 2px solid transparent;
}

#searchList li button .addr {
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 10px;
    float: left;
}

#searchList li button .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
}

#searchList .cur {
    background: rgba(0, 160, 233, .7);
    border: 2px solid #00A0E9;
    box-shadow: 0 0 20px #00A0E9;
    padding: 0 40px;
}

/*键盘样式*/
a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

#tv_keyboard_div {
    width: 1280px;
    height: 384px;
    overflow: hidden;
    position: absolute;
    bottom: -384px;
    left: 0;
    box-sizing: border-box;
    transition: bottom 1s;
    background: rgba(0, 0, 0, 0.7);
}

#tv_keyboard {
    table-layout: fixed;
    border-collapse: collapse;
    margin: 40px auto;
}

#tv_keyboard a {
    width: 90px;
    height: 64px;
    text-align: center;
    line-height: 64px;
    float: left;
    font-size: 30px;
    text-decoration: none;
    margin: 5px;
    color: #FFFFFF;
    background-color: #A0A0A0;
}

#tv_keyboard a:focus {
    outline: none;
    background-color: #1EB8EA;
}

/*提示弹出框*/
#dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: black;
    opacity: .9;
    border-radius: 20px;
    width: 400px;
    height: 200px;
    margin: -100px -200px;
    display: none;
    color: white;
    font-size: 1.8em;
    line-height: 200px;
    text-align: center;
}

/*提示信息*/
#hintContainer {
    position: absolute;
    background: rgba(0, 0, 0, .5);
    border-radius: 5px;
    border: 2px rgb(129, 129, 129) solid;
    box-shadow: 5px 5px 10px #000;
    height: 40px;
    box-sizing: border-box;
    top: 30px;
    left: 50px;
    font-size: 0;
}

#zoomHint {
    background: url('images/zoomHint.png');
    width: 140px;
    height: 39px;
}

#pitchHint {
    background: url('images/pitchHint.png');
    width: 140px;
    height: 39px;
}

#detailHint {
    background: url('images/detailHint.png');
    width: 70px;
    height: 39px;
}

.hint {
    display: inline-block;
}

#hintContainer {
    display: none;
}

.view #detailHint, .searchMap #detailHint, .searchMap #pitchHint, .searchPano #detailHint {
    display: none;
}

audio {
    display: none;
}

.scroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}

#exit {
    position: absolute;
    top: 20px;
    right: 0;
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: left;
    letter-spacing: 4px;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    font-family: "微软雅黑";
    font-size: 24px;
    border-radius: 5px;
    z-index: 999;
    display: none;
}