* {
    outline: none;
    margin: 0;
    padding: 0;
}

body {
    width: 1280px;
    height: 720px;
    font-family: Microsoft YaHei;
}

.pageBody {
    width: 1280px;
    height: 720px;
    overflow: hidden;
    position: relative;
}

ul {
    list-style: none;
}

.txzc {
    position: absolute;
    bottom: 50px;
    right: 100px;
}

#container {
    width: 100%;
    height: 100%;

}

/*街景样式*/
#panoCon {
    width: 100%;
    height: 100%;
    display: none;
}

/*街景详情样式，如房源详情*/
#album {
    width: 1390px;
    position: absolute;
    bottom: 0;
    left: -1280px;
    height: 245px;
    transition: left 2s;
    z-index: 2;
    display: none;
}

#albumCon {
    float: left;
    width: 1280px;
    overflow: hidden;
    height: 245px;
    padding: 30px 65px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.8);
}

#albumNotice {
    float: right;
    width: 110px;
    font-size: 20px;
    color: #FFFFFF;
    text-align: left;
    word-break: break-all;
}

#albumNotice div {
    width: 55px;
    height: 152px;
    background-color: rgba(0, 0, 0, 0.73);
    float: left;
    margin-top: 19px;
}

#albumNotice img {
    float: left;
    top: -35px;
    position: relative;
}

#albumTitleBody li {
    cursor: pointer;
    float: left;
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0 6px 0 0;
    font-size: 16px;
}

#albumViewBody .cur {
    border: 2px solid #97DCFF;
    box-shadow: 0 0 15px #97DCFF;
}

.select {
    background-color: #148fff;
}

#albumViewBody {
    margin-left: 0;
    height: 120px;
    z-index: 1;
    width: 100%;
    overflow: hidden;
}

.PanoPhotoTitle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 186px;
    height: 21px;
    /*font-family: Arial;*/
    text-align: center;
    font-size: 9px;
    color: #FFFFFF;
    line-height: 21px;
}

.PanoPhotoCell {
    position: relative;
    float: left;
    width: 186px;
    height: 115px;
    margin-right: 20px;
    border: 2px solid transparent;
}

.PanoPhotoCell img {
    width: 186px;
    height: 115px;
    display: block;
    cursor: pointer;
    box-sizing: border-box;
}

.PanoPhotoCell .PanoPhotoTitle {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#albumTitleBody {
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    width: 1150px;
    overflow: hidden;
    color: #FFFFFF;
}

#albumTitleBody li:focus {
    background-color: #f2ae2a;
}

#albumViewBody div.PanoPhotoCell:focus {
    border: 2px solid #f2ae2a;
    box-shadow: 0 0 15px #f2ae2a;
}

#albumTitle_wrapper {
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    height: 25px;
}

#viewBody_wrapper {
    position: relative;
    top: 5px;
    left: 0;
    overflow: hidden;
    height: 120px;
    z-index: 1;
    width: 100%;
}

/*提示信息*/
#hintContainer {
    position: absolute;
    background: rgba(0, 0, 0, .5);
    border-radius: 5px;
    border: 2px rgb(129, 129, 129) solid;
    box-shadow: 5px 5px 10px #000;
    height: 40px;
    box-sizing: border-box;
    top: 30px;
    left: 50px;
    font-size: 0;
}

#zoomHint {
    background: url('images/zoomHint.png');
    width: 140px;
    height: 39px;
}

#pitchHint {
    background: url('images/pitchHint.png');
    width: 140px;
    height: 39px;
}

#enterHint {
    background: url('images/enterHint.png');
    width: 108px;
    height: 39px;
}

#detailHint {
    background: url('images/detailHint.png');
    width: 70px;
    height: 39px;
}

.hint {
    display: inline-block;
}

.searchMap #pitchHint, .panoMap #enterHint {
    display: none;
}

audio {
    display: none;
}

#exit {
    position: absolute;
    top: 20px;
    right: 0;
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: left;
    letter-spacing: 4px;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    font-family: "微软雅黑";
    font-size: 24px;
    border-radius: 5px;
    z-index: 999;
    display: none;
}

.menus {
    width: 0;
    height: 0;
    opacity: 0;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 360px;
    left: 640px;
}

.menus img {
    float: left;
    position: absolute;
    width: 0;
    height: 0;
}

/*搜索样式*/
.search {
    width: 1280px;
    height: 148px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: -148px;
    left: 0;
    display: block;
    transition: all 1s;
}

.sInput {
    background-color: #FFFFFF;
    border: 3px solid #00a0e9;
    height: 56px;
    line-height: 56px;
    margin-top: 42px;
    margin-left: 260px;
    width: 730px;
    outline: none;
    float: left;
}

.sInput:focus {
    box-shadow: 0 0 20px #00a0e9;
}

.sMag {
    width: 46px;
    height: 44px;
    margin: 6px 10px;
    float: left;
}

.sText {
    border: none;
    float: left;
    font-size: 24px;
    margin-left: 10px;
    height: 54px;
    line-height: 54px;
    width: 640px;
}

.ssBut {
    width: 155px;
    height: 69px;
    float: left;
    position: relative;
    margin-left: 40px;
    top: 39px;
    background: url("images/ssBut_0.png") 0 no-repeat;
    outline: none;
}

.ssBut:focus {
    background: url("images/ssBut_1.png");
}

.search .notice {
    position: absolute;
    bottom: 15px;
    left: 290px;
    color: #FFFFFF;
    letter-spacing: 1px;
}

/*搜索结果*/
#resultContainer {
    position: absolute;
    top: 720px;
    left: 0;
    width: 1280px;
    height: 572px;
    overflow: hidden;
    z-index: 10;
    background: rgba(0, 0, 0, 0.7);
    transition: all 2s;
}

#searchList {
    font-size: 28px;
    color: white;
}

#searchList li {
    width: 100%;
    height: 100px;
    line-height: 100px;
    display: block;
    overflow: hidden;
    text-align: center;
}

#searchList li button {
    background: transparent;
    color: white;
    font-family: Microsoft YaHei;
    padding: 0;
    width: auto;
    font-size: 35px;
    height: 100px;
    line-height: 100px;
    margin: 0 auto;
    border: 2px solid transparent;
}

#searchList li button .addr {
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 10px;
    float: left;
}

#searchList li button .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
}

#searchList .cur {
    background: rgba(0, 160, 233, .7);
    border: 2px solid #00A0E9;
    box-shadow: 0 0 20px #00A0E9;
    padding: 0 40px;
}

/*键盘样式*/
#tv_keyboard {
    width: 1280px;
    height: 384px;
    overflow: hidden;
    position: absolute;
    bottom: -384px;
    left: 0;
    box-sizing: border-box;
    transition: bottom 1s;
    background: rgba(0, 0, 0, 0.7);
    padding: 40px 140px;
}

#tv_keyboard li {
    width: 90px;
    height: 64px;
    text-align: center;
    line-height: 64px;
    float: left;
    font-size: 30px;
    text-decoration: none;
    margin: 5px;
    color: #FFFFFF;
    background-color: #A0A0A0;
}

#tv_keyboard li:focus {
    outline: none;
    background-color: #1EB8EA;
}

/*附近*/
#vicinity {
    position: absolute;
    bottom: -250px;
    height: 200px;
    width: 1164px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.7);
    transition: all 1s;
    float: left;
    padding: 25px 58px;
}

.scroller {
    float: left;
}

#vicinityTitleBody li {
    cursor: pointer;
    float: left;
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0 6px 0 0;
    font-size: 16px;
}

#vicinityViewBody .cur {
    border: 2px solid #97DCFF;
    box-shadow: 0 0 15px #97DCFF;
}

#vicinityViewBody ul {
    margin-left: 0;
    height: 120px;
    overflow: hidden;
    float: left;
}

#vicinityTitleBody {
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    width: 1150px;
    overflow: hidden;
    color: #FFFFFF;
    float: left;
}

#vicinityTitleBody li:focus {
    background-color: #f2ae2a;
}

#vicinityViewBody li.PanoPhotoCell:focus {
    border: 2px solid #f2ae2a;
    box-shadow: 0 0 15px #f2ae2a;
}

#vicinityTitle_wrapper {
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 1164px;
    height: 25px;
}

#vicinityBody_wrapper {
    position: relative;
    top: 5px;
    left: 0;
    overflow: hidden;
    height: 120px;
    width: 1164px;
}

#vicinityDetail {
    position: absolute;
    left: 1280px;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: all 1s;
    height: 720px;
    width: 1280px;
}

.vicinityDetailQr {
    position: absolute;
    top: 330px;
    width: 170px;
    left: 24px;
}

#vicinityDetail img {
    margin: 62px 79px;
}

.detailImg {
    position: absolute;
    top: 0;
    left: 1280px;
    width: 1280px;
    height: 720px;
    z-index: 3;
    transition: all 1s;
}

.detailStreet {
    position: absolute;
    top: 720px;
    left: 0;
    width: 1280px;
    height: 720px;
    z-index: 3;
    transition: all 1s;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 70px;
}

.detailStreet div {
    float: left;
    width: 1100px;
    padding: 20px;
}

.detailStreet .title {
    background-color: #FFFFFF;
}

.detailStreet .title img {
    width: 220px;
    height: 110px;
    float: left;
}

.detailStreet .title div {
    width: 840px;
    float: left;
    height: 110px;
    line-height: 110px;
    font-size: 26px;
    padding: 0 0 0 20px;
}

.detailStreet .content {
    height: 390px;
    line-height: 30px;
    letter-spacing: 1px;
    font-size: 20px;
    background-color: #EEEEEE;
    color: #979797;
    text-indent: 4ex;
}

/*详情*/
.detailBg {
    background-color: rgba(0, 0, 0, .8);
    width: 100%;
    height: 100%;
    padding: 100px 80px 70px;
    box-sizing: border-box;
}

.detailImg .logo {
    width: 210px;
    height: 270px;
    background-color: white;
    position: absolute;
}

.detailImg .code {
    width: 210px;
    height: 290px;
    background-color: white;
    position: absolute;
    bottom: 50px;
}

.detailImg img {
    display: block;
    width: 100%;
}

.logo span, .code span {
    text-align: center;
    display: block;
}

.detailContent {
    width: 900px;
    height: 570px;
    background-color: white;
    position: absolute;
    left: 300px;
    top: 100px;
    box-sizing: border-box;
}

.detailImg .menu {
    padding: 8px;
    background-color: #eae9e9;
}

.detailImg .menu li {
    font-size: 22px;
    line-height: 60px;
    padding: 0 20px;
    display: inline-block;
    border: 2px solid transparent;
}

.detailImg .menu .sel {
    background-color: #f26d5f;
    color: white;
}

/*菜单*/
.product {
    padding: 20px 10px 10px;
    height: 320px;
    overflow: hidden;
}

.productList {
    min-height: 276px;
}

.productList li {
    display: inline-block;
    width: 49%;
    padding: 15px 20px;
    position: relative;
    box-sizing: border-box;
    border: 2px solid transparent;
}

.productList li:focus {
    border: solid 2px #f26d5f;
}

.productList .sel {
    border: 2px solid #f26d5f !important;
    padding: 15px 40px !important;
}

.productList .sel .text {
    display: none;
}

.productList .sel .count {
    font-size: 40px;
    color: #f26d5f;
    right: 170px !important;
    width: 50px;
}

.productList .sel span {
    font-size: 40px;
    color: #f26d5f;
    top: 6px !important;
    right: 150px !important;
    width: 20px;
}

.productList .sel:after {
    content: " ";
    width: 67px;
    height: 100px;
    display: block;
    background-image: url(images/arrow.png);
    position: absolute;
    top: 18px;
    right: 30px;
}

.productList img {
    width: 100px;
    display: inline-block;
}

.productList .text {
    position: absolute;
    left: 120px;
    top: 0;
    margin: 10px 0 0 10px;
    padding: 10px;
    box-sizing: border-box;
    width: 215px;
    background-color: #f4f3f3;
}

.productList .sale {
    color: grey;
    font-size: 14px;
    padding: 10px 0;
}

.productList .count {
    position: absolute;
    top: 10px;
    right: 40px;
    line-height: 100px;
    width: 40px;
    border: none;
    font-size: 16px;
    text-align: center;
}

.productList span {
    position: absolute;
    top: 10px;
    right: 25px;
    line-height: 100px;
    width: 40px;
    border: none;
    font-size: 16px;
    text-align: center;
}

.pages {
    font-size: 18px;
    width: 300px;
    margin: 10px auto;
}

.pages > div {
    display: inline-block;
}

.previous span, .next span {
    background-color: #C3C3C3;
    padding: 5px;
    border-radius: 20px;
    margin: 5px;
}

.next span {
    padding: 5px 8px;
}

.previous {
    margin-right: 30px;
}

.next {
    margin-left: 30px;
}

.pages .cur {
    color: #f26d5f;
}

/*地址和购物车*/
.bottom {
    padding: 16px 20px 12px;
    position: relative;
    background-color: #eae9e9;
}

.bottom:before {
    content: " ";
    width: 315px;
    height: 139px;
    display: block;
    background-color: #e1e1e1;
    position: absolute;
    top: 0;
    right: 0;
}

.adress {
    height: 112px;
    font-weight: bold;
    width: 600px;
}

.adress div:first-child {
    margin-top: 0;
}

.adressDiv {
    float: left;
    width: 550px;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
}

.adressDiv div {
    float: left;
}

.adressDiv div:first-child {
    color: grey;
}

.cart .sum span {
    color: #ff4c4c;
}

.cart {
    font-size: 22px;
    width: 270px;
    position: absolute;
    right: 20px;
    top: 20px;
    display: inline-block;
    margin-left: 30px;
    padding: 20px 0 20px 20px;
    outline: none;
    border: 2px solid transparent;
}

.cart:focus {
    border: 2px solid #ff4c4c;
}

.cart .sum em {
    font-size: 30px;
    font-style: normal;
}

.cart .img {
    position: relative;
    width: 50px;
    display: inline-block;
}

.cart .img img {
    width: 50px;
}

.cart .img span {
    background-color: #ff4c4c;
    color: white;
    border-radius: 16px;
    position: absolute;
    top: -10px;
    right: -14px;
    font-size: 14px;
    padding: 4px 10px;
}

.cart .sum {
    display: inline-block;
    margin-left: 30px;
}

/*购物车列表*/
.shoppingCart .menu ul {
    display: none;
}

.sc {
    display: none;
}

.shoppingCart .sc {
    display: block;
    font-size: 22px;
    line-height: 64px;
    text-align: center;
}

.shoppingCart .pages {
    display: none;
}

.shoppingCart .productList {
    margin-bottom: 45px;
}

.shoppingCart .bottom:before, .orderDetail .bottom:before {
    width: 350px;
}

.shoppingCart .bottom .img, .orderDetail .bottom .img {
    display: none;
}

.shoppingCart .adress, .orderDetail .adress {
    width: 520px;
}

.shoppingCart .cart, .orderDetail .cart {
    width: 310px;
}

.shoppingCart .submitBill {
    display: block;
}

.submitBill, .another {
    display: none;
    color: white;
    background-color: #ff4c4c;
    padding: 15px 30px;
    width: 80px;
    position: absolute;
    right: 10px;
    font-size: 20px;
    top: 14px;
}

.shoppingCart .cart .sum, .orderDetail .cart .sum {
    margin-left: 20px;
}

/*订单详情*/
.bought, .orderDetail .buy, .another {
    display: none;
}

.orderDetail .bought, .orderDetail .another {
    display: block;
}

.bought {
    padding: 20px 10px 10px;
}

.bought .heading {
    color: #626262;
    font-size: 18px;
    padding: 2px 10px;
    border-left: 4px solid #ff4c4c;
    margin: 0 0 20px 10px;
}

.bought .shopName {
    margin: 0 0 20px 20px;
    font-size: 20px;
}

.boughtList {
    color: #626262;
    font-size: 18px;
    margin: 0 20px;
    min-height: 287px;
}

.boughtList li {
    margin-bottom: 20px;
}

.boughtList li > div {
    display: inline-block;
}

.boughtList li > div:nth-child(1) {
    width: 240px;
    margin-right: 30px;
}

.boughtList li > div:nth-child(2) {
    width: 200px;
    margin-right: 30px;
}

.boughtList li > div:nth-child(3) {
    width: 300px;
}

/*提示弹出框*/
#dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: black;
    opacity: .9;
    border-radius: 20px;
    width: 400px;
    height: 200px;
    margin: -100px -200px;
    display: none;
    color: white;
    font-size: 27px;
    line-height: 50px;
    text-align: center;
    padding: 50px;
    box-sizing: border-box;
}
