* {
    outline: none;
    margin: 0;
    padding: 0;
}

body {
    width: 1280px;
    height: 720px;
    font-family: Microsoft YaHei;
}

.pageBody {
    width: 1280px;
    height: 720px;
    overflow: hidden;
    position: relative;
}

ul {
    list-style: none;
}

i {
    font-style: normal;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*街景详情样式，如房源详情*/
#album {
    width: 1390px;
    position: absolute;
    bottom: 0;
    left: -1280px;
    height: 250px;
    transition: left 2s;
    /*display: none;*/
}

#albumCon {
    float: left;
    width: 1280px;
    overflow: hidden;
    height: 250px;
    padding: 15px 65px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.8);
}

#albumNotice {
    float: right;
    width: 110px;
    font-size: 20px;
    color: #FFFFFF;
    text-align: left;
    word-break: break-all;
}

#albumNotice div {
    width: 55px;
    height: 152px;
    background-color: rgba(0, 0, 0, 0.73);
    float: left;
    margin-top: 19px;
}

#albumNotice img {
    float: left;
    top: -35px;
    position: relative;
}

#albumTitleBody li {
    cursor: pointer;
    float: left;
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 8px;
    border: 2px solid transparent;
    font-size: 18px;
    height: 30px;
}

.select {
    background-color: #148fff;
}

#albumTitleBody {
    height: 34px;
    line-height: 30px;
    width: 1150px;
    overflow: hidden;
}

#albumTitleBody li:focus {
    background: none;
    border: 2px solid #148fff;
    box-shadow: 0 0 15px #148fff;
}

.PanoPhotoTitle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 186px;
    height: 21px;
    text-align: center;
    font-size: 9px;
}

.PanoPhotoCell {
    position: relative;
    float: left;
    width: 236px;
    height: 160px;
    margin-right: 20px;
    border: 4px solid transparent;
}

.PanoPhotoCell img {
    width: 236px;
    height: 160px;
    display: block;
    cursor: pointer;
    box-sizing: border-box;
}

#albumTitle_wrapper, .PanoPhotoTitle {
    color: #fff;
    line-height: 21px;
}

.PanoPhotoCell .PanoPhotoTitle {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: 1px;
}

#albumViewBody div.PanoPhotoCell:focus {
    border: 4px solid #97DCFF;
    box-shadow: 0 0 15px #97DCFF;
}

#albumTitle_wrapper {
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    height: 34px;
}

#viewBody_wrapper {
    position: relative;
    top: 10px;
    left: 0;
    overflow: hidden;
    height: 170px;
    z-index: 1;
    width: 100%;
}

/*提示信息*/
#hintContainer {
    position: absolute;
    background: rgba(0, 0, 0, .5);
    border-radius: 5px;
    border: 2px rgb(129, 129, 129) solid;
    box-shadow: 5px 5px 10px #000;
    height: 40px;
    box-sizing: border-box;
    top: 30px;
    left: 50px;
    font-size: 0;
}

#zoomHint {
    background: url('images/zoomHint.png');
    width: 140px;
    height: 39px;
}

.hint {
    display: inline-block;
}

.view #detailHint, .search #detailHint, .houseMap #detailHint, .houseMap #pitchHint {
    display: none;
}

audio {
    display: none;
}

.viewQrCodeContainer {
    width: 170px;
    height: 165px;
    position: absolute;
    right: 0;
    top: 60px;
    display: none;
    z-index: 0;
}

#viewQrCodeContainer {
    box-sizing: border-box;
    padding: 15px 50px 15px 10px;
    background: rgba(0, 0, 0, .7);
}

.viewQrCodeText {
    color: white;
    font-size: 14px;
    text-align: center;
}

.detailImg {
    position: absolute;
    top: 720px;
    left: 0;
    width: 1280px;
    height: 720px;
    z-index: 3;
    transition: all 1s;
}

.detailImg {
    width: 1280px;
    height: 720px;
}

.detailStreet {
    position: absolute;
    top: 720px;
    left: 0;
    width: 1280px;
    height: 720px;
    z-index: 3;
    transition: all 1s;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 70px;
}

.detailStreet div {
    float: left;
    width: 1100px;
    padding: 20px;
}

.detailStreet .title {
    background-color: #FFFFFF;
}

.detailStreet .title img {
    width: 220px;
    height: 110px;
    float: left;
}

.detailStreet .title div {
    width: 840px;
    float: left;
    height: 110px;
    line-height: 110px;
    font-size: 26px;
    padding: 0 0 0 20px;
}

.detailStreet .content {
    height: 390px;
    line-height: 30px;
    letter-spacing: 1px;
    font-size: 20px;
    background-color: #EEEEEE;
    color: #979797;
    text-indent: 4ex;
}

/*详情*/
.detailBg {
    background-color: rgba(0, 0, 0, .8);
    width: 100%;
    height: 100%;
    padding: 100px 80px 70px;
    box-sizing: border-box;
}

.detailImg .logo {
    width: 210px;
    height: 270px;
    background-color: white;
    position: absolute;
}

.detailImg .code {
    width: 210px;
    height: 290px;
    background-color: white;
    position: absolute;
    bottom: 50px;
}

.detailImg img {
    display: block;
    width: 100%;
}

.logo span, .code span {
    text-align: center;
    display: block;
}

.detailContent {
    width: 900px;
    height: 570px;
    background-color: white;
    position: absolute;
    left: 300px;
    top: 100px;
    box-sizing: border-box;
}

.detailImg .menu {
    padding: 8px;
    background-color: #eae9e9;
}

.detailImg .menu li {
    font-size: 22px;
    line-height: 60px;
    padding: 0 20px;
    display: inline-block;
    border: 2px solid transparent;
}

.detailImg .menu .sel {
    background-color: #f26d5f;
    color: white;
}

/*菜单*/
.product {
    padding: 20px 10px 10px;
    height: 320px;
    overflow: hidden;
}

.productList {
    min-height: 276px;
}

.productList li {
    display: inline-block;
    width: 49%;
    padding: 15px 20px;
    position: relative;
    box-sizing: border-box;
    border: 2px solid transparent;
}

.productList li:focus {
    border: solid 2px #f26d5f;
}

.productList .sel {
    border: 2px solid #f26d5f !important;
    padding: 15px 40px !important;
}

.productList .sel .text {
    display: none;
}

.productList .sel .count {
    font-size: 40px;
    color: #f26d5f;
    right: 170px !important;
    width: 50px;
}

.productList .sel span {
    font-size: 40px;
    color: #f26d5f;
    top: 6px !important;
    right: 150px !important;
    width: 20px;
}

.productList .sel:after {
    content: " ";
    width: 67px;
    height: 100px;
    display: block;
    background-image: url(images/arrow.png);
    position: absolute;
    top: 18px;
    right: 30px;
}

.productList img {
    width: 100px;
    display: inline-block;
}

.productList .text {
    position: absolute;
    left: 120px;
    top: 0;
    margin: 10px 0 0 10px;
    padding: 10px;
    box-sizing: border-box;
    width: 215px;
    background-color: #f4f3f3;
}

.productList .sale {
    color: grey;
    font-size: 14px;
    padding: 10px 0;
}

.productList .count {
    position: absolute;
    top: 10px;
    right: 40px;
    line-height: 100px;
    width: 40px;
    border: none;
    font-size: 16px;
    text-align: center;
}

.productList span {
    position: absolute;
    top: 10px;
    right: 25px;
    line-height: 100px;
    width: 40px;
    border: none;
    font-size: 16px;
    text-align: center;
}

.pages {
    font-size: 18px;
    width: 300px;
    margin: 10px auto;
}

.pages > div {
    display: inline-block;
}

.previous span, .next span {
    background-color: #C3C3C3;
    padding: 5px;
    border-radius: 20px;
    margin: 5px;
}

.next span {
    padding: 5px 8px;
}

.previous {
    margin-right: 30px;
}

.next {
    margin-left: 30px;
}

.pages .cur {
    color: #f26d5f;
}

/*地址和购物车*/
.bottom {
    padding: 16px 20px 12px;
    position: relative;
    background-color: #eae9e9;
}

.bottom:before {
    content: " ";
    width: 315px;
    height: 139px;
    display: block;
    background-color: #e1e1e1;
    position: absolute;
    top: 0;
    right: 0;
}

.adress {
    font-weight: bold;
    width: 600px;
}

.adress p:first-child {
    margin-top: 0;
}

.adress span {
    color: grey;
}

.cart .sum span {
    color: #ff4c4c;
}

.cart {
    font-size: 22px;
    width: 270px;
    position: absolute;
    right: 20px;
    top: 20px;
    display: inline-block;
    margin-left: 30px;
    padding: 20px 0 20px 20px;
    outline: none;
    border: 2px solid transparent;
}

.cart:focus {
    border: 2px solid #ff4c4c;
}

.cart .sum em {
    font-size: 30px;
    font-style: normal;
}

.cart .img {
    position: relative;
    width: 50px;
    display: inline-block;
}

.cart .img img {
    width: 50px;
}

.cart .img span {
    background-color: #ff4c4c;
    color: white;
    border-radius: 16px;
    position: absolute;
    top: -10px;
    right: -14px;
    font-size: 14px;
    padding: 4px 10px;
}

.cart .sum {
    display: inline-block;
    margin-left: 30px;
}

/*购物车列表*/
.shoppingCart .menu ul {
    display: none;
}

.sc {
    display: none;
}

.shoppingCart .sc {
    display: block;
    font-size: 22px;
    line-height: 64px;
    text-align: center;
}

.shoppingCart .pages {
    display: none;
}

.shoppingCart .productList {
    margin-bottom: 45px;
}

.shoppingCart .bottom:before, .orderDetail .bottom:before {
    width: 350px;
}

.shoppingCart .bottom .img, .orderDetail .bottom .img {
    display: none;
}

.shoppingCart .adress, .orderDetail .adress {
    width: 520px;
}

.shoppingCart .cart, .orderDetail .cart {
    width: 310px;
}

.shoppingCart .submitBill {
    display: block;
}

.submitBill, .another {
    display: none;
    color: white;
    background-color: #ff4c4c;
    padding: 15px 30px;
    width: 80px;
    position: absolute;
    right: 10px;
    font-size: 20px;
    top: 14px;
}

.shoppingCart .cart .sum, .orderDetail .cart .sum {
    margin-left: 20px;
}

/*订单详情*/
.bought, .orderDetail .buy, .another {
    display: none;
}

.orderDetail .bought, .orderDetail .another {
    display: block;
}

.bought {
    padding: 20px 10px 10px;
}

.bought .heading {
    color: #626262;
    font-size: 18px;
    padding: 2px 10px;
    border-left: 4px solid #ff4c4c;
    margin: 0 0 20px 10px;
}

.bought .shopName {
    margin: 0 0 20px 20px;
    font-size: 20px;
}

.boughtList {
    color: #626262;
    font-size: 18px;
    margin: 0 20px;
    min-height: 287px;
}

.boughtList li {
    margin-bottom: 20px;
}

.boughtList li > div {
    display: inline-block;
}

.boughtList li > div:nth-child(1) {
    width: 240px;
    margin-right: 30px;
}

.boughtList li > div:nth-child(2) {
    width: 200px;
    margin-right: 30px;
}

.boughtList li > div:nth-child(3) {
    width: 300px;
}

/*提示弹出框*/
#dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: black;
    opacity: .9;
    border-radius: 20px;
    width: 400px;
    height: 200px;
    margin: -100px -200px;
    display: none;
    color: white;
    font-size: 1.8em;
    line-height: 50px;
    text-align: center;
    padding: 50px;
    box-sizing: border-box;
    z-index: 99;
}

.scroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}

#exit {
    position: absolute;
    top: 20px;
    right: 0;
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: left;
    letter-spacing: 4px;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    font-family: "微软雅黑";
    font-size: 24px;
    border-radius: 5px;
    z-index: 999;
    display: none;

}